<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>PROJECT_UUID</key>
 <string>d1018e4c-798c-468f-a3e3-cdfd93f9f85c</string>
 <key>PROJECT_CLIENT_KEY</key>
 <string>c1zo4wfEEaguPrwEpwqW1tEIQ2a3dMMr0gFHkIEJ</string>
 <key>PROJECT_APP_UUID</key>
 <string>ff80aff7-b45b-4321-8bfa-c253d6e09b3f</string>
</dict>
</plist>
